{% extends "layout.html" %}
{% block title %}Gallery - {% endblock %}
{% block content %}
<ul id="gallery">
  {% for article in articles %}
    <li id="{{ article.ID }}" class="issue2" style="background-image:url('{{ article.image.filename }}');">
      <h2 class="issue_head">
      {% for word in article.title.split(" ") %}
          {% if id_per_key[word] %}
            <a href="/read/{{ article.ID }}/because/of/{{ id_per_key[word] }}" target="_blank">
              {{ word }}
            </a>
          {% else %}
          {{ word }}
          {% endif %}
      {% endfor %}
      </h2>
      <div class="small">
        <div>&#11016; Choose: Why do you want to read this? &#11017;</div>
        <div>Released {{ article.datestr }}</div>
      </div>
      <div class="issue_content">
        <p>{{ article.content|markdown }}</p>
      </div>
    </li>
  {% endfor %}
</ul>
{% endblock %}
