
<!DOCTYPE html>
<html>
  <head>
    <title>Anchorbot {{ title }} {{mode}}</title>
    <link type="text/css" rel="stylesheet" href="{{ style }}">
  </head>
  <body>
    <div id="header">
        <a class="title" href="/"><div>AnchorBot</div></a>
      <a class="menu" id="feeds" href="feeds" title="List the feeds you are aggregating"></a>
      <a class="menu" id="keywords" href="keywords" title="List your most clicked keywords">&#9684;</a>
      <a class="menu" id="starred" href="starred" title="List your favourite articles">&#9851;</a>
      <a class="menu" id="quit" href="/quit" title="Shut down this server">Quit</a>
    </div>
    <div id="popup">
        <div id="popup_content"></div>
    </div>
    <div id="container">
