
<!DOCTYPE html>
<html>
  <head>
    <title>Anchorbot {{ title }} {{mode}}</title>
    <link type="text/css" rel="stylesheet" href="{{ style }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='anim.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='humanize.min.js') }}"></script>
    {% if mode=="gallery" %}
    <script type="text/javascript" src="{{ url_for('static', filename='gallery.js') }}"></script>
    {% elif mode=="key" %}
    <script type="text/javascript" src="{{ url_for('static', filename='key.js') }}"></script>
    {% elif mode=="feed" %}
    <script type="text/javascript" src="{{ url_for('static', filename='feed.js') }}"></script>
    {% elif mode=="read" %}
    <script type="text/javascript" src="{{ url_for('static', filename='read.js') }}"></script>
    {% endif %}
  </head>
  <body>
    <div id="header">
      <a class="title" href="/">AnchorBot</a>
      <a class="menu" id="feeds" href="#">Feeds</a>
      <a class="menu" id="keywords" href="#">Keys</a>
      <a class="menu" href="/quit" title="Shuts down this server">Quit</a>
    </div>
    <div id="popup">
        <div id="popup_content"></div>
    </div>
    <div id="container">
