{% macro redirect(aid) %}
/redirect/{{ aid }}
{% endmacro %}

{% macro button(service, arg, text=None) %}
  {% if service=="source" %}
  <a class="about_source button" target="_blank" href="{{ arg }}">Source</a>
  {% elif service=="share" %}
  <a class="about_share button" target="_blank" href="/share/{{ arg }}">Share</a>
  {% endif %}
{% endmacro %}

{% macro keyword(key, rated=false) %}
    <a class="button" href="/key/id/{{ key.ID }}">{{ key.word }}</a>
{% endmacro %}

{% macro article_gallery(art) %}
<div id="aid{{ art.ID }}" class="issue2" style="background-image:url('{{ art.image.filename }}');">
                <h2 class="issue_head" title="{{ art.title }}">{{ art.title }}</h2>
                <div class="small">
                    <div>Choose: Why do you want to read this?</div>
                    <div class="tags">
                    {% for key in art.keywords %}
                        {{ keyword(key) }}
                    {% endfor %}
                    </div>
                    <!--<div>
                        {{ button("source", redirect(art.ID)) }}
                        {{ button("share", art.aid) }}
                    </div>//-->
                </div>
            </div>
{% endmacro %}

{% macro article_read(art) %}
        <div id="aid{{art.ID}}" class="issue1">
                <h2 class="issue_head" title="{{ art.title }}">{{ art.title }}</h2>
                {% if art.image.filename %}
                  <div class="image"><img src="{{ art.image.filename }}" alt=""/></div>
                {% endif %}
                <div class="issue_content">{{ art.content|safe }}</div>
                <div class="small">
                    <span class="time">{{ art.datestr }}</span>
                    <span class="keywords">
                        {% for key in art.keywords %}
                          {{ keyword(key) }}
                        {% endfor %}
                    </span>
                    <span>
                        {{ button("source", redirect(art.ID)) }}
                        {{ button("share", art.id, text=art.title) }}
                    </span>
                </div>
            </div>
{% endmacro %}

<html>
  <head>
    <title>Anchorbot {{ title }} {{mode}}</title>
    <link type="text/css" rel="stylesheet" href="{{ style }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='anim.js') }}"></script>
  </head>
  <body>
    <div id="header">
      <a class="title" href="/">AnchorBot</a>
      <a class="menu" id="feeds" href="#">Feeds</a>
      <a class="menu" id="keywords" href="#">Keys</a>
      <a class="menu" href="/quit" title="Shuts down this server">Quit</a>
    </div>
    <div id="popup">
        <div id="popup_content"></div>
    </div>
    <div id="container">
      <div id="content">
      {% if mode=="start" %}
        {% for art in content %}
        {{ article_gallery(art) }}
        {% endfor %}
      {% else %}
        {% for art in content %}
        {{ article_read(art) }}
        {% endfor %}
      {% endif %}
      </div>
    </div>
  </body>
</html>
