{% extends "layout.html" %}
{% block title %}({{ relevance }}) Gallery - {% endblock %}
{% block content %}
<ul id="gallery">
{% if articles %}
  {% for article in articles %}
    <li id="{{ article["link"] }}" class="issue2" style="background-image:url('{{ article["image"] }}');">
      <h2 class="issue_head">
      {% for word in article.title.split(" ") %}
          {% if word.lower() in article["keywords"] %}
            <a href="/read/{{ hashed[article["link"]] }}/because/of/{{ word.lower() }}" target="_blank">
              {{ word }}
            </a>
          {% else %}
          {{ word }}
          {% endif %}
      {% endfor %}
      </h2>
      <div class="small">
        <div>&#11016; Choose: Why do you want to read this? &#11017;</div>
      </div>
    </li>
  {% endfor %}
{% else %}
{% endif %}
</ul>
{% endblock %}
