{% extends "layout.html" %}
{% block title %}({{ scores["all"] }}) Gallery - {% endblock %}
{% block content %}
<ul id="gallery">
{% if articles %}
  {% for article in articles %}
    <li id="{{ article["link"] }}" class="issue2" style="background-image:url('{{ article["image"] }}');">
      <h2 class="issue_head">
	{{ article["linked_headline"]|safe }}
      </h2>
      <div class="small">
          <div>&#11016; Score: {{ scores[article["link"]] or 0 }} &#11017;</div>
					<div><a href="/dismiss/{{ hashed[article["link"]] }}">Dismiss</a></div>
      </div>
    </li>
  {% endfor %}
{% else %}
{% endif %}
</ul>
{% endblock %}
