<!DOCTYPE html>
<html>
  <head>
      <title>{% block title %}{% endblock %}AnchorBot</title>
    <link type="text/css" rel="stylesheet" href="{{ style }}">
  </head>
  <body>
    {% block header %}
    <div id="header">
      <a class="title" href="/">AnchorBot</a>
      <a class="menu" id="feeds" href="/feeds" title="List all feeds">Feeds</a>
      <a class="menu" id="keywords" href="/keys" title="List most clicked keys">Keys</a>
      <a class="menu" id="media" href="/media" title="List all media">Media</a>
      <a class="menu" id="quit" href="/quit" title="Shuts down this server">Quit</a>
    </div>
    {% endblock %}
    <div id="popup">
    {% block popup %}
        <div id="popup_content"></div>
    {% endblock %}
    </div>
    <div id="container">
    {% block container %}
      {% if mode in ["key", "feed"] %}
      <h1 title="{{ data.ID }}" id="keyword">{{ data.word }}</h1>
      {% endif %}
      {% block content %}{% endblock %}
    {% endblock %}
    </div>
  </body>
</html>
