{% extends "layout.html" %}
{% block title %}Read - {% endblock %}
{% block header %}
{% endblock %}
{% block content %}
Found: {{ articles|length }} articles.
{% for article in articles %}
<div class="issue1">
    <h1 class="issue_head">
        {{ article["title"] }}
    </h1>
    {% if article.media %}
    <div class="media">{{ article["media"]|safe }}</div>
    {% endif %}
    <div class="small">
        <span>
            On <a href="{{ article["source"] }}">{{ article["source"] }}</a> {{ article["release"] }}.
        </span>
        <span>
            <a href="{{ article["link"] }}" class="button" target="_parent">Read more</a>
        </span>
    </div>
</div>
{% endfor %}
{% endblock %}
