* {
  border:0 hidden;
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: sans-serif;
}

html, body {
  font-family: Georgia,"Times New Roman",Times,serif;
  line-height: 133%;
  font-size: 12pt;
  background: #fff;
  color: #333;
}

li {
  margin-left:0;
  padding-left: 1em;
  text-indent: -1em;
  list-style-position: inside;
}

table {
  font-size: 66%;
}

#header {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ddd;
  display: block;
  width: 100%;
  font-family: Arial, Sans;
  z-index: 99;
  border-bottom: 1pt solid #666;
  height: 17pt;
  padding: 3pt;
}
#header a.title {
  font-weight: bold;
  color: rgba(20,20,20,0.9);
  padding-right: 5pt;
  text-shadow: 0pt 1pt 0pt rgba(255,255,255,0.8);
}
#header a.menu {
  margin: 0;
  color: rgba(20,20,20,0.9);
  padding: 5pt;
  height: 100%;
  text-shadow: 0pt 1pt 0pt rgba(255,255,255,0.8);
}

#popup {
  background-color: #fff;
  padding: 5pt;
  border: 3pt solid #333;
  box-shadow: 0 0 10pt #333;
  width:100%;
  z-index: 9;
  position: fixed;
  top: 23pt;
  left: 0;
  display: none;
}
#popup_content {
  margin: 0;
  width: 100%;
}
#popup_content div.list {
  width: 19%;
  display: inline-block;
}

#container {
  padding-top: 30pt;
  width: 100%;
  margin: 0 auto;
}

#gallery {
  margin: 0 auto;
  padding: 5pt;
  text-align: center;
}

.issue1 {
  width: 100%;
  max-width: 600pt;
  margin: 50pt auto;
  padding-top: 30pt;
  padding-bottom: 30pt;
}
.issue1 .issue_content h1,
.issue1 .issue_content h2,
.issue1 .issue_content h3,
.issue1 .issue_content h4 {
  padding-top: 20pt;
  padding-bottom: 5pt;
}
.issue1 .issue_content p {
  padding-top: 5pt;
  padding-bottom: 5pt;
}

.issue1 .small {
  clear: both;
  width: 100%;
  text-align: right;
}
.issue1 .small a:link {
  font: 10pt sans-serif;
}
.issue1 .small .button {
  padding: 2pt 3pt;
  margin: 3pt;
  display: inline-block;
}
.issue1 .issue_content a:link, .issue2 .issue_content a:link {
  color: #009;
  font-style: italic;
}
.issue1 div:not(.small) a:hover {
  color: #009;
  text-decoration: underline;
}
.issue1 div:not(.small) a:visited {
  color: #049;
}
.issue1 .image {
  width: 100%;
  padding: 5pt;
  background: transparent;
  text-align: center;
}
.issue1 .media iframe,
.issue1 .image img {
  border: 3pt solid #000;
  max-width: 100%;
}
  .issue1:nth-child(even) .image,
  .issue1:nth-child(odd) .image {
    float: left;
  }
  .issue1 .issue_head {
    text-align: center;
    width:100%;
    color: #333;
    font-size: 18pt;
    line-height: 130%;
    font-variant: small-caps;
    text-shadow: 0pt 1pt 0 rgba(255,255,255,0.7);
  }
  .issue1 .issue_content {
    padding-top: 20pt;
    width: 34em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 20pt;
    background-color: #fff;
    text-align: justify;
    margin: 0 auto;
    font-family: serif;
  }
  .issue1 .issue_content * {
    font-family: serif;
    margin: 0;
    padding: 0;
  }
  .issue1 .media {
    margin: 0 auto;
    width:100%;
    text-align: center;
  }

  .issue1 .small span {
      padding: 3pt;
  }

  .button, a.button {
    white-space: nowrap;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 50%;
    padding: 2.5pt 5pt;
    background-color: #eee;
    border-radius: 10pt;
    border: 1pt solid rgba(0,0,0,0.3);
    box-shadow: 0pt 1pt 0pt rgba(0,0,0,0.2);
    text-shadow: 0pt 1pt 0 rgba(255,255,255,0.7);
    text-align: center;
    color: #666;
    cursor: pointer;
  }
  .button:hover, a.button:hover {
    background-color: #08f;
    text-shadow: 0pt -1pt 0.1pt rgba(0,0,0,0.3);
    box-shadow: inset 0 1pt 0 rgba(255,255,255,0.3), inset 0 -1pt 0 rgba(0,0,0,.2);
    color: #fff;
    cursor: pointer;
  }

  .about_share, .about_source {
    float: left;
  }
  .about_share:before {
    content: "♻  "
  }
  .about_source:before {
    content: "⬈ "
  }

  .issue2 {
    width: 19%;
    min-width: 162pt;
    min-height: 126pt;
    display: inline-block;
    overflow: auto;
    background-color: #ddd;
  }
  .issue2 .image {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
  }
  .issue2:nth-child(odd) {
    background-position: 33% 33%;
  }
  .issue2:nth-child(even) {
    background-position: 66% 66%;
  }
  .issue2 .small {
    width: 100%;
    font: 7pt sans-serif;
    color: #000;
    display: none;
    float:left;
    text-align: center;
    border-bottom-width: 1pt;
  }
  .issue2 .small .tags {
    max-height: 100pt;
    overflow: auto;
  }
  .issue2 a.button {
    padding: 1pt 2pt;
    display: inline-block;
  }
  .issue2 a.button .like {
    padding: 2pt 0 0 0;
    border-left-radius: 5pt;
    background-color:#0f0;
    border-radius: 5pt 0 0 5pt;
  }
  .issue2 a.button .hate {
    padding: 0 0 2pt 0pt;
    background-color:#f00;
    border-radius: 0 5pt 5pt 0;
  }
  .issue2 .about_share,
  .issue2 .about_source {
    font-size: 100%;
    width: 100pt;
    display: block;
    float: none;
    margin: 2pt auto;
  }
  .issue2 .issue_content {
    display: none;
  }
  .issue2 .issue_head {
    z-index: 5;
    color: #fff;
    text-shadow: 0pt 1pt 0 #000;
    font-size: 10pt;
    font-variant: small-caps;
    text-align: center;
    line-height: 15pt;
    position: relative;
    padding-left: 5pt;
    padding-right: 5pt;
    border-bottom-width: 1pt;
  }
  .issue2 .small,
  .issue2 .issue_head {
    background: rgba(0, 0, 0, .6);
  }
  .issue2,
  .issue2 .small,
  .issue2 .issue_head {
    border-color: rgba(0, 0, 0, 0.8);
  }
  .issue2 .small,
  .issue2 .issue_head a:visited,
  .issue2 .issue_head a:link {
    color: #fff;
  }
  .issue2 .issue_head a:hover {
    color: #08f;
  }
  .issue2:hover .issue_head {
  }
  .issue2:hover .small {
    display: block;
  }

  .issue1, .issue2 {
    clear: both;
  }

